.sendForm {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 0;
}

.textarea {
  max-width: 75vw;
  width: 100%;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  resize: none;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1),
    0 5px 20px 0 rgba(29, 33, 38, 0.03);
  background: #f5f7fb;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  border-radius: 20px;
  width: 120px;
  height: 40px;
  background: rgb(112, 112, 241);
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.button:hover {
  transform: translateY(-3px) scale(1.05);
  background: linear-gradient(135deg, #00bfff, #6a5acd);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}
.button:active {
  transform: translateY(2px) scale(0.97);
  background: linear-gradient(135deg, #1e90ff, #483d8b);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
